.version.fan_discover /* version checker */
{
	color: #00000C;
	background-color: #AF75B4;
}

.html
{
	background: #FFFFFF url("../images/background-pattern-2.jpg") no-repeat center center fixed;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -36px;
	padding-top: 92px;
}

#u1124
{
	z-index: 9;
	width: 5522px;
	height: 62px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: fixed;
	top: 0px;
	left: -1528px;
}

#u1133
{
	z-index: 10;
	width: 49px;
	height: 42px;
	border-style: none;
	border-color: transparent;
	position: fixed;
	top: 11px;
	left: -76px;
	background: transparent url("../images/beatcrumblogolarge-u823-fr.png") no-repeat center center;
	background-size: contain;
}

#u1133:hover
{
	margin: 0px;
	background: transparent url("../images/beatcrumblogolarge%20rollover-u823-r-fr.png") no-repeat center center;
	background-size: contain;
}

#u1137
{
	z-index: 11;
	width: 41px;
	height: 34px;
	border-style: none;
	border-color: transparent;
	position: fixed;
	top: 16px;
	left: -9px;
	background: transparent url("../images/donation%20list-u824-fr.png") no-repeat center center;
	background-size: contain;
}

#u1137:hover
{
	margin: 0px;
	background: transparent url("../images/donation%20list%20rollover-u824-r-fr.png") no-repeat center center;
	background-size: contain;
}

#u1141
{
	z-index: 16;
	width: 445px;
	height: 29px;
	border-style: none;
	border-color: transparent;
	position: fixed;
	top: 18px;
	left: 236px;
	background: transparent url("../images/search%20png-u827-fr.png") no-repeat center center;
	background-size: contain;
}

#u1128-4
{
	z-index: 12;
	width: 51px;
	background-color: transparent;
	font-size: 19px;
	color: #00FFFF;
	line-height: 23px;
	position: fixed;
	top: 23px;
	left: 55px;
}

#u1128-4:hover p
{
	color: #FF0000;
	visibility: inherit;
}

#u1123-4
{
	z-index: 18;
	width: 74px;
	background-color: transparent;
	font-size: 19px;
	color: #FF0000;
	line-height: 23px;
	position: fixed;
	top: 23px;
	left: 134px;
}

#u1128-4:hover,#u1123-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 0px;
}

#u1123-4:hover p
{
	color: #00FFFF;
	visibility: inherit;
}

#u1126
{
	z-index: 17;
	width: 31px;
	height: 27px;
	border-style: none;
	border-color: transparent;
	position: fixed;
	top: 20px;
	left: 863px;
	background: transparent url("../images/settings%20red-u828-fr.png") no-repeat center center;
	background-size: contain;
}

#u1126:hover
{
	margin: 0px;
	background: transparent url("../images/settings%20redrollover-u828-r-fr.png") no-repeat center center;
	background-size: contain;
}

#pu1138
{
	width: 0.01px;
	margin-left: 259px;
}

#u1138
{
	z-index: 7;
	width: 668px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 31px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/discover%20screen.png") no-repeat center center;
	background-size: contain;
}

#u1140
{
	z-index: 22;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 86px;
	padding-right: 248px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
}

#u1122
{
	z-index: 27;
	width: 179px;
	height: 77px;
	margin-left: 10px;
	position: relative;
}

#u1121
{
	z-index: 28;
	width: 179px;
	height: 77px;
	margin-left: 9px;
	margin-top: 10px;
	position: relative;
}

#u1130
{
	z-index: 23;
	width: 179px;
	height: 77px;
	margin-top: 16px;
	position: relative;
}

#u1129
{
	z-index: 29;
	width: 179px;
	height: 77px;
	margin-left: 9px;
	margin-top: 16px;
	position: relative;
}

#u1127
{
	z-index: 24;
	width: 180px;
	height: 70px;
	margin-left: 9px;
	margin-top: 98px;
	position: relative;
}

#u1125
{
	z-index: 31;
	width: 179px;
	height: 77px;
	margin-left: 9px;
	margin-top: 22px;
	position: relative;
}

#u1134
{
	z-index: 25;
	width: 158px;
	height: 78px;
	margin-left: 9px;
	margin-top: 93px;
	position: relative;
}

#u1132
{
	z-index: 33;
	width: 179px;
	height: 77px;
	margin-left: 21px;
	margin-top: 14px;
	position: relative;
}

#u1139
{
	z-index: 26;
	width: 167px;
	height: 74px;
	margin-top: 15px;
	position: relative;
}

#u1136
{
	z-index: 30;
	width: 179px;
	height: 77px;
	position: relative;
	margin-right: -10000px;
	margin-top: 452px;
	left: 9px;
}

#u1135
{
	z-index: 32;
	width: 179px;
	height: 77px;
	position: relative;
	margin-right: -10000px;
	margin-top: 719px;
	left: 9px;
}

.ie #u1122,.ie #u1121,.ie #u1130,.ie #u1129,.ie #u1127,.ie #u1125,.ie #u1134,.ie #u1132,.ie #u1139,.ie #u1136,.ie #u1135
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1131
{
	z-index: 8;
	width: 187px;
	height: 343px;
	border-style: none;
	border-color: transparent;
	position: fixed;
	top: 108px;
	left: 9px;
	background: transparent url("../images/discoverscreenfilter-u496-fr.png") no-repeat center center;
	background-size: contain;
}

#u148-5
{
	z-index: 2;
	min-height: 98px;
}

#u148-5-bw
{
	z-index: 2;
	min-height: 98px;
	margin-top: 33px;
	height: 98px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 35px;
}

#page .verticalspacer
{
	clear: both;
}

