.version.fan_beatbox /* version checker */
{
	color: #00001B;
	background-color: #D94444;
}

.html
{
	background: #FFFFFF url("../images/background-pattern-2.jpg") no-repeat center center fixed;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -36px;
	padding-top: 103px;
}

#u1149
{
	z-index: 12;
	width: 5522px;
	height: 62px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: fixed;
	top: 0px;
	left: -1528px;
}

#u1150
{
	z-index: 13;
	width: 49px;
	height: 42px;
	border-style: none;
	border-color: transparent;
	position: fixed;
	top: 11px;
	left: -76px;
	background: transparent url("../images/beatcrumblogolarge%20rollover-u823-r-fr.png") no-repeat center center;
	background-size: contain;
}

#u1150:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0px;
	background-size: contain;
}

#u1157
{
	z-index: 14;
	width: 41px;
	height: 34px;
	border-style: none;
	border-color: transparent;
	position: fixed;
	top: 16px;
	left: -9px;
	background: transparent url("../images/donation%20list-u824-fr.png") no-repeat center center;
	background-size: contain;
}

#u1157:hover
{
	margin: 0px;
	background: transparent url("../images/donation%20list%20rollover-u824-r-fr.png") no-repeat center center;
	background-size: contain;
}

#u1154
{
	z-index: 23;
	width: 445px;
	height: 29px;
	border-style: none;
	border-color: transparent;
	position: fixed;
	top: 18px;
	left: 236px;
	background: transparent url("../images/search%20png-u827-fr.png") no-repeat center center;
	background-size: contain;
}

#u1155-4
{
	z-index: 15;
	width: 51px;
	background-color: transparent;
	font-size: 19px;
	color: #00FFFF;
	line-height: 23px;
	position: fixed;
	top: 23px;
	left: 55px;
}

#u1153-4
{
	z-index: 19;
	width: 74px;
	background-color: transparent;
	font-size: 19px;
	color: #00FFFF;
	line-height: 23px;
	position: fixed;
	top: 23px;
	left: 134px;
}

#u1155-4:hover,#u1153-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 0px;
}

#u1155-4:hover p,#u1153-4:hover p
{
	color: #FF0000;
	visibility: inherit;
}

#u1152
{
	z-index: 24;
	width: 31px;
	height: 27px;
	border-style: none;
	border-color: transparent;
	position: fixed;
	top: 20px;
	left: 863px;
	background: transparent url("../images/settings%20red-u828-fr.png") no-repeat center center;
	background-size: contain;
}

#u1152:hover
{
	margin: 0px;
	background: transparent url("../images/settings%20redrollover-u828-r-fr.png") no-repeat center center;
	background-size: contain;
}

#pu1158
{
	width: 0.01px;
	margin-left: 20px;
}

#u1158
{
	z-index: 7;
	width: 875px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 12px;
	background: transparent url("../images/beatbox%20screen2.png") no-repeat center center;
	background-size: contain;
}

#u1158_position_content
{
	padding-top: 17px;
	padding-bottom: 116px;
}

#u1178
{
	z-index: 25;
	width: 730px;
	height: 94px;
	left: -12px;
	position: relative;
}

#pu1180
{
	width: 0.01px;
	margin-left: -12px;
	margin-top: 22px;
}

#u1180
{
	z-index: 27;
	width: 460px;
	height: 261px;
	position: relative;
	margin-right: -10000px;
}

#u1151
{
	z-index: 8;
	width: 61px;
	height: 220px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 529px;
}

#u1179
{
	z-index: 26;
	width: 730px;
	height: 94px;
	margin-top: 19px;
	position: relative;
}

#u1159
{
	z-index: 9;
	width: 61px;
	height: 155px;
	margin-left: 513px;
	margin-top: 14px;
	position: relative;
}

#u1156
{
	z-index: 10;
	width: 57px;
	height: 50px;
	margin-left: 517px;
	margin-top: 108px;
	position: relative;
}

#u1148
{
	z-index: 11;
	width: 61px;
	height: 54px;
	margin-left: 513px;
	margin-top: 222px;
	position: relative;
}

#u1181
{
	z-index: 28;
	width: 460px;
	height: 728px;
	position: relative;
	margin-right: -10000px;
	margin-top: 507px;
}

.ie #u1178,.ie #u1180,.ie #u1151,.ie #u1179,.ie #u1159,.ie #u1156,.ie #u1148,.ie #u1181
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u148-5
{
	z-index: 2;
	min-height: 98px;
}

#u148-5-bw
{
	z-index: 2;
	min-height: 98px;
	margin-top: 33px;
	height: 98px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 35px;
}

#page .verticalspacer
{
	clear: both;
}

