.version.index /* version checker */
{
	color: #000017;
	background-color: #53D86E;
}

.html
{
	background: #FFFFFF url("../images/background-pattern-2.jpg") no-repeat center center fixed;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.95000000000016px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -36px;
	padding-top: 4px;
}

#u108
{
	z-index: 7;
	width: 213px;
	height: 58px;
	border-style: none;
	border-color: transparent;
	margin-left: 20px;
	position: relative;
	background: transparent url("../images/beatcrumblogo-u108-fr.png") no-repeat left top;
	background-size: contain;
}

#u118-4
{
	z-index: 8;
	width: 102px;
	background-color: transparent;
	text-align: center;
	color: #00FFFF;
	font-size: 31px;
	line-height: 37px;
	margin-left: 429px;
	margin-top: 151px;
	position: relative;
}

#u118-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 151px 0px 0px 429px;
}

#u119-4
{
	z-index: 12;
	width: 279px;
	background-color: transparent;
	text-align: center;
	color: #00FFFF;
	font-size: 31px;
	line-height: 37px;
	margin-left: 340px;
	position: relative;
}

#u119-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 0px 0px 0px 340px;
}

#u120-4
{
	z-index: 16;
	width: 225px;
	background-color: transparent;
	text-align: center;
	color: #00FFFF;
	font-size: 31px;
	line-height: 37px;
	margin-left: 367px;
	position: relative;
}

#u120-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 0px 0px 0px 367px;
}

#u118-4:hover p,#u119-4:hover p,#u120-4:hover p
{
	color: #FF0000;
	visibility: inherit;
}

#u148-5
{
	z-index: 2;
	min-height: 98px;
}

#u148-5-bw
{
	z-index: 2;
	min-height: 98px;
	margin-top: 114px;
	height: 98px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 35px;
}

#page .verticalspacer
{
	clear: both;
}

