.version.listening_page /* version checker */
{
	color: #0000E8;
	background-color: #5B4221;
}

.html
{
	background: #FFFFFF url("../images/background-pattern-2.jpg") no-repeat center center fixed;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.9500000000003px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -36px;
	padding-top: 106px;
}

#u931
{
	z-index: 7;
	width: 5522px;
	height: 62px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: fixed;
	top: 0px;
	left: -1528px;
}

#u932
{
	z-index: 8;
	width: 49px;
	height: 42px;
	border-style: none;
	border-color: transparent;
	position: fixed;
	top: 11px;
	left: -76px;
	background: transparent url("../images/beatcrumblogolarge-u823-fr.png") no-repeat center center;
	background-size: contain;
}

#u932:hover
{
	margin: 0px;
	background: transparent url("../images/beatcrumblogolarge%20rollover-u823-r-fr.png") no-repeat center center;
	background-size: contain;
}

#u933
{
	z-index: 9;
	width: 41px;
	height: 34px;
	border-style: none;
	border-color: transparent;
	position: fixed;
	top: 16px;
	left: -9px;
	background: transparent url("../images/donation%20list-u824-fr.png") no-repeat center center;
	background-size: contain;
}

#u933:hover
{
	margin: 0px;
	background: transparent url("../images/donation%20list%20rollover-u824-r-fr.png") no-repeat center center;
	background-size: contain;
}

#u935
{
	z-index: 14;
	width: 445px;
	height: 29px;
	border-style: none;
	border-color: transparent;
	position: fixed;
	top: 18px;
	left: 309px;
	background: transparent url("../images/search%20png-u827-fr.png") no-repeat center center;
	background-size: contain;
}

#u934-4
{
	z-index: 10;
	width: 51px;
	background-color: transparent;
	font-size: 19px;
	color: #00FFFF;
	line-height: 23px;
	position: fixed;
	top: 23px;
	left: 55px;
}

#u1112-4
{
	z-index: 18;
	width: 74px;
	background-color: transparent;
	font-size: 19px;
	color: #00FFFF;
	line-height: 23px;
	position: fixed;
	top: 23px;
	left: 134px;
}

#u934-4:hover,#u1112-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 0px;
}

#u934-4:hover p,#u1112-4:hover p
{
	color: #FF0000;
	visibility: inherit;
}

#u936
{
	z-index: 15;
	width: 31px;
	height: 27px;
	border-style: none;
	border-color: transparent;
	position: fixed;
	top: 20px;
	left: 863px;
	background: transparent url("../images/settings%20red-u828-fr.png") no-repeat center center;
	background-size: contain;
}

#u936:hover
{
	margin: 0px;
	background: transparent url("../images/settings%20redrollover-u828-r-fr.png") no-repeat center center;
	background-size: contain;
}

#pu937
{
	width: 0.01px;
	margin-left: 80px;
}

#u937
{
	z-index: 16;
	width: 339px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/listening%20screen-u937-fr.png") no-repeat center center;
	background-size: contain;
}

#u1182
{
	z-index: 22;
	width: 96px;
	height: 86px;
	margin-bottom: -4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 307px;
	left: 86px;
}

.ie #u1182
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u944
{
	z-index: 17;
	width: 422px;
	height: 359px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 376px;
	background: transparent url("../images/listening%20screen2-u944-fr.png") no-repeat center center;
	background-size: contain;
}

#u148-5
{
	z-index: 2;
	min-height: 98px;
}

#u148-5-bw
{
	z-index: 2;
	min-height: 98px;
	margin-top: 37px;
	height: 98px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 35px;
}

#page .verticalspacer
{
	clear: both;
}

