/* NORMALIZE================================================================ */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;} audio,canvas,video{display:inline-block;*display:inline;*zoom:1;} audio:not([controls]){display:none;height:0;} [hidden]{display:none;} html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100% ;} html,button,input,select,textarea{font-family:sans-serif;} body{margin:0;} a:focus{outline:thin dotted;} a:active,a:hover{outline:0;} h1{font-size:2em;margin:0.67em 0;} h2{font-size:1.5em;margin:0.83em 0;} h3{font-size:1.17em;margin:1em 0;} h4{font-size:1em;margin:1.33em 0;} h5{font-size:.83em;margin:1.67em 0;} h6{font-size:.67em;margin:2.33em 0;} abbr[title]{border-bottom:1px dotted;} b,strong{font-weight:700;} blockquote{margin:1em 40px;} dfn{font-style:italic;} mark{background:#ff0;color:#000000;} p,pre{margin:1em 0;} code,kbd,pre,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em;} pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;} q{quotes:none;} q:before,q:after{content:'';content:none;} small{font-size:80%;} sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;} sup{top:-0.5em;} sub{bottom:-0.25em;} dl,menu,ol,ul{margin:1em 0;} dd{margin:0 0 0 40px;} menu,ol,ul{padding:0 0 0 20px;} nav ul,nav ol{list-style:none;list-style-image:none;} img{border:0;-ms-interpolation-mode:bicubic ;} svg:not(:root){overflow:hidden;} figure{margin:0;} form{margin:0;} fieldset{border:1px solid silver;margin:0 2px;padding:0.35em 0.625em 0.75em;} legend{border:0;padding:0;white-space:normal;*margin-left:-7px ;} button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle ;} button,input{line-height:normal;} button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible ;} button[disabled],input[disabled]{cursor:default;} input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px ;} input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;} input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;} button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;} textarea{overflow:auto;vertical-align:top ;} table{border-collapse:collapse;border-spacing:0;}
/* CORE================================================================ */
html, body {min-height: 100%; padding: 0; margin: 0; width: 100%; }
/*html {font-size: 62.5%; background: #3dbfd9; }*/
body {font-size: 16px; line-height: 1.5; color: white; font-family: Arial,Helvetica Neue,Helvetica,sans-serif; }
.wrapper { max-width: 1000px; margin: 0 auto; }
.page { background: #212326; }
/*a:link, a:visited { color: #3dbfd9; text-decoration: none; }
a:hover, a:active, a:focus { text-decoration: underline; }*/
h1 { font-size: 56px; line-height: 1; margin: 0; }
h2 { font-size: 30px; font-weight: normal; }
h3 { font-size: 44px; margin: 0.25em 0; }
h4 { font-size: 24px; font-weight: bold; margin: 1.2em 0; color: #3dbfd9;}
.page_header { text-align: center; padding-top: 20px; }
section { padding: 0em; }
/*section header { border-top: 1px solid #3dbfd9; border-bottom: 1px solid #3dbfd9; clear: both; }*/
ol { list-style: none; margin: 2em 0; padding:0;  }
ol li { clear: both; margin: 1em 0; }
.icon_block { float: left; width: 16%; min-width: 100px; text-align: center; margin-top: 5px; }
.content_block { overflow: hidden; }
.circle { margin-top: 0.4em; display: inline-block; font-size: 30px; font-weight: bold; line-height: 55px; background: #3dbfd9; border-radius: 50%; width: 60px; height: 60px; }
.circle object { margin: 15px; float: left; }
.bullets li { list-style: disc; margin-bottom: 0.74em; }
.bullets li ul { padding-left: 0; }
.bullets li li { list-style: none; margin: 0.5em 0; }
.small { font-size: 14px; }
.cta, .cta:link, .cta:visited { font-weight: bold; position: relative; float: right; border: 2px solid white; text-transform: uppercase; white-space: nowrap; color: #ffffff; border-radius: 8px; -webkit-border-radius: 8px; line-height: 2; font-size: 20px; padding: 0.3em 3.5em 0.3em 1em; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; background: #ff0000; }
.cta:hover, .cta:active, .cta:focus {text-decoration: none; background: #333333; }
.cta object { position: absolute; right: 1em; top: 20%; }
.writable { padding: 0; list-style: none; }
.writable li { color: #212326; border-radius: 8px; background: #e2f5f9; padding: 0.75em 1em; }
.writable .error { border: 2px solid red; }
.writable .success { border: 2px solid green; }
.footer { padding: 2em 0; position: relative; }
.footer .mainnav {margin-top: 0.5em; }
.footer a:link, .footer a:visited { color: white; }
.mainnav { color: #bcffff; font-size: 14px; font-size: 1.4rem; text-align: center; }
.mainnav ul { padding: 0; margin: 0 auto; }
.mainnav li { display: inline-block; float: none; position: relative; }
.mainnav a { text-transform: uppercase; margin-right: 0.8em; position: relative; }
.mainnav a:link, .mainnav a:visited { color: #bcffff; }
.mainnav a:hover, .mainnav a:active, .mainnav a:focus {color: #ffffff; }
.mainnav a:after {content: '/'; display: inline-block; padding-left: 1em; left: 0; top: 0; font-size: 12px; font-size: 1.2rem; color: #bcffff; }
.mainnav .first a {padding-left: 0; outline: none; }
.mainnav .first a:after {content: '/'; }
.footer .left { position: absolute; margin: 0; }
.colophon {clear: both; text-align: center; margin-top: 3em; font-size: 12px; }
.colophon object { margin-bottom: -8px; }
.small object { margin-bottom: -15px; }
.callout { color: #f00; }
#error_404 { padding: 2em; text-align: center; }




/*Main Styling*/


html{   
    background:url("/images/background-pattern-2.jpg") no-repeat fixed center center / cover  #ffffff;
}

#app{
    min-width: 900px;
}

.position_content{
    width:100%;
    height: 100%;
    display: table;
    clear: both;
    
}

#landing-page-wrapper{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: table;
    clear: both;
}

.landing-logo{
    background: url("/images/beatcrumblogo-u108-fr.png") no-repeat scroll left top / contain transparent;
    border-color: transparent;
    border-style: none;
    height: 58px;
    margin-left: 20px;
    position: relative;
    width: 213px;
    z-index: 7;
}

.signup-container{
    margin: 0 auto;
    width: 300px;
    margin-top: 150px;
    position: relative;
    display: table;
    height: 300px;
}



.rgba-background.clearfix{
    width: 100%;
    position: absolute;
    bottom: 0;
}

/*End of main styling CSS*/



/*Login*/

.landing-login, .artist-signup, .fan-signup{
    position: absolute;
    font-size:31px;
    color: #fff;
    text-decoration:none;
    
}

.landing-login{
    left: 35%;
    color: #fff;
}

.artist-signup{
    
    top: 15%;
    left: 12%;
    
}

.fan-signup{
   
    top: 30%;
    left: 20%;
    
}

a.landing-login:hover{
    color: red;
}

a.artist-signup:hover{
    color: red;
}

a.fan-signup:hover{
    color: red;
}



/*End of Login CSS*/


/* Search Results */
.searchBlock{
    display: table;
    margin: 0 auto;
    width: 90%;
    position: relative;
    box-sizing: border-box;
    max-width: 900px;
}
.searchTracks{
/*	top:100px;
	position:absolute;*/
        width: 100%;
        display: table;
        box-sizing: border-box;
        margin-top:100px;
}

.search-result{
    float:left;
    width:100%;
    box-sizing: border-box;
    margin-bottom:20px;
}

.search-result a.playTrack{
    float:left;
    margin-right:30%;
}

.search-result p{
    float:left;
    width: 25%;
}

.search-result .fan-crumb{
    width:5%;
    padding-bottom: 5%;
}

.search-result .discover-crumb{
    float:left;
    width:5%;
    padding-bottom:5%;
    margin-top:0;
}

.search-result .discover-three-crumb{
    margin-top:0px;
}



/*forms*/


.form-container{
    background: #fff;
    display: table;
    clear: both;
    max-width: 600px;
    margin: 0 auto;
    width: 90%;
    box-sizing: border-box;
    margin-top: 100px;
    padding-bottom: 1em;
}


/*Artist Signup Form*/

.artist-signup-form{
    float:left;
    display: table;
    clear:both;
    box-sizing: border-box;
    margin-top: 5%;
    
}

.artist-signup-form label{
    color: #000;
    float:left;
    clear:left;
    margin-left: 10%;
    margin-bottom: 1%;
}
.artist-signup-form input{
    float:right;
    margin-right: 10%;
    width: 55%;
}

.terms{
    display: table;
    clear: both;
    margin-top: 0%;
    margin: 0 auto;
    width: 80%;
    box-sizing: border-box;
    padding-left: 20%;
    padding-top: 2%;
    position: relative;
}

.terms input{
    float: left;
    width: 15%;
    background: #1A8AF2;
    color: #fff;
    border: none;
    font-size: .8em;
    padding: 2%
}

.terms p{
    font-size: .8em;
    float: left;
    margin-top: -15px;
    margin-left: 40px;
    z-index: 2;
    color:#000;

}


/* End of Artist signup form*/


/*Fan Signup Form*/

.fan-signup-form{
    float:left;
    display: table;
    clear:both;
    box-sizing: border-box;
    margin-top: 5%;
    
}

.fan-signup-form label{
    color: #000;
    float:left;
    clear:left;
    margin-left: 5%;
    margin-bottom: 1%;
}

.fan-signup-form input{
    float:right;
    margin-right: 5%;
    width: 55%;
}

.fan-signup-form select{
    border: 1px solid #cccccc;
    border-radius: 0;
    box-shadow: none;
    color: #757575;
    float: right;
    margin-right: 5%;
    width: 56%;
    height: 20px;
}

.fan-terms{
    display: table;
    clear: both;
    margin-top: 0%;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    padding-left: 20%;
    padding-top: 2%;
    position: relative;
    color: #000;
}

.fan-terms input{
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3px;
    width: 10%;
}

.fan-terms p{
    font-size: .8em;
    float: left;
    margin-top: 0px;
    margin-left: 0;
    z-index: 2;
    

}

/*End of Fan Signup form*/

/*Forgotten Password form*/
.forgotten-password-form{
    width: 100%;
}

.forgotten-password-form > #submit-btn{
    clear: left;
    display: block;
    float: none;
    margin: 5% auto 0;
    

}

/*end of forgotton password*/




#submit-btn{
    width: 30%;
    display: block;
    margin: 0 auto;
    background: #1A8AF2;
    color: #fff;
    border: none;
    font-size: .8em;
    padding:2%;
    line-height: 8px;
    clear: both;
    float: none;
}

#login-btn{
    width: 30%;
    display: block;
    margin: 0 auto;
    background: #1A8AF2;
    color: #fff;
    border: none;
    font-size: .8em;
    padding:2%;
    line-height: 8px;
    clear: both;
    float: none;
}



.feedback.error{
    box-sizing: border-box;
    float: left;
    margin: 15px 5% 0;
    padding: 10px;
    width: 90%;
}

 .forgot-password{
        float: left;
        margin-left: 12%;
        margin-top: 2%;
        width: 200px;
        margin-bottom: 2%;
    }

/*End of Forms*/

.copyright-container{
    margin: 0 auto; 
    width: 150px;
    box-sizing: border-box;
    clear: both;
}

.copyright-container > p{
    margin: 0;
}


/*Fonts*/
h1.form-header{
    color:#000;
    font-size: 1.2em;
    margin-left: 2em;
    margin-top: 1em;
    float:left;
}

p.form-login{
    color:#8e8e8e;
    float:left;
    font-size:.8em;
    margin-top: 1.67em;
    margin-left: 3em;
}

p.form-login a{
    text-decoration:none;
}

.release, .beatgifts-head{
    text-align: right;
    margin: 0;
    font-size: 1.2em;
    font-style: italic;
    color: #00ffff;
    font-weight: normal;
    
}

.js-upload{
    float: right;
    font-size:1.2em;
    font-style: italic;
    color: #00ffff;
    font-weight: normal;
}

.artist-header, .fan-header{
    color: #00ffff;
    font-size: 1.8em;
    font-weight: normal;
    margin-bottom: 10%;
    text-align: center;
}

/*End of Fonts*/




/*header*/

header{
    height: auto;;
    background-color: #000;
    width: 100%;
    position: fixed;
    z-index: 10;
    border: none;
    box-sizing: border-box;
    min-width: 900px;
}

.inner-header{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    height: auto;
    position: relative;
    display: table;
    box-sizing: border-box;
    
}

.header-logo{
    background-image:url('/images/beatcrumblogolarge-rollover-u823-r-fr.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:0px 0px;
    width: 50px;
    height: 50px;
    float:left;
    margin-top: 5px;
    cursor: pointer;
}

.header-logo img{
    width: 100%;
    border-top-left-radius: 15px;
    opacity: 1;
    transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
}
        
.header-logo img:hover{
    opacity:0;
}

.header-favourite{
    background-image:url('/images/donation-list-rollover-u1006-r-fr.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:0px 0px;
    width: 40px;
    height: 40px;
    float:left;
    margin-top: 15px;
    cursor: pointer;
    margin-left: 20px;
    
}

.header-favourite img{
    width: 100%;
    border-top-left-radius: 15px;
    opacity: 1;
    transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
}
        
.header-favourite img:hover{
    opacity:0;
}

.header-page-active{
    font-size: 1.2em;
    color: #ff0000;
}

.header-discover{
    float: left;
    font-size: 1.2em;
    margin-left: 20px;
    line-height: 4em;
    cursor: pointer;
}
.header-home{
    float: left;
    font-size: 1.2em;
    margin-left: 20px;
    line-height: 4em;
    cursor: pointer;
}
.header-beatbox{
    float: left;
    font-size: 1.2em;
    margin-left: 20px;
    line-height: 4em;
    cursor: pointer;
}

.header-search{
    position: relative;
    display: table;
    width: 40%;
    float:left;
    box-sizing: border-box;
    margin-left: 100px;
}

.header-search > input{
    width: 100%;
    border-radius: 5px;
    height: 30px;
    margin-top: 20px;
    padding-left: 10px;
    box-sizing: border-box;
    font-size:.7em;
    padding-top: 4px;
}

.search-icon{
    position: absolute;
    width: 30px;
    top: 20px;
    margin-left: -30px;
    cursor: pointer;
}


.header-settings{
    background-image:url('/images/settings-redrollover-u828-r-fr.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:0px 0px;
    width: 30px;
    height: 30px;
    float:right;
    margin-top: 15px;
    cursor: pointer;
    position: relative;
    
    
}

.header-settings img{
    width: 100%;
    border-top-left-radius: 15px;
    opacity: 1;
    transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
}
        
.header-settings img:hover{
    opacity:0;
}

/*end of header*/

/*Artist dashboard*/

.main-container{
    box-sizing: border-box;
    display: table;
    margin-top: 0;
    padding-top: 10%;
    width: 85%;
    margin: 0 auto;
    max-width: 1000px;
    min-width: 900px;
}

.artist-profile{
    box-sizing: border-box;
    width: 100%;
    height: auto;

}

.scroll-container{
    width: 33%;
    float: left;
    height: 68vh;
    display: block;
    overflow: hidden;
}

.fans-scroll{
    box-sizing: border-box;
    float: right;
    height: 500px;
/*    overflow: scroll;*/
    width: 100%;
    margin-top: 10%;
    padding: 8%;
    overflow:hidden;
}

.scroll-inner{
/*    height: auto;*/
    
}

.artist-profile-left, .fan-profile-left{
    float: left;
    width: 33%;
    box-sizing: border-box;
    display: block;
}

.artist-picture{
    border-radius: 100%;
    height: 0;
    box-sizing: border-box;
    width: 90%;
    padding-bottom: 90%;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.artist-picture img{
    width: 170%;
    position: absolute;
    left:-30%;
}

.artist-profile-right, .fan-profile-right{
    float:left;
    width: 33%;
    box-sizing: border-box;
    display: block;
}

.fan-block{
    box-sizing: border-box;
    display: table;
    width: 100%;
}

.fan-info{
    box-sizing: border-box;
    width: 100%;
    float: left;
}

.fan-name{
    float:left;
    margin-left: 5%;
}

.fan-mini-picture{
    border-radius: 100%;
    height: 0;
    box-sizing: border-box;
    width: 20%;
    padding-bottom: 20%;
    overflow: hidden;
    float: left;
    border:1px solid #ffffff;
    position: relative;
}

.fan-mini-picture img{
    width: 170%;
    position: absolute;
    left:-30%;
}


.fan-profile-left .fan-mini-picture{
    border-radius: 100%;
    height: 0;
    box-sizing: border-box;
    width: 90%;
    padding-bottom: 90%;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    float:none;
}

.fan-profile .scroll-container{
    width:45%;
    float:right;
}

.fan-profile .fan-block .fan-crumb{
    margin-top:15px;
}

.fan-crumb, .discover-crumb, .beatbox-crumb{
/*    background-image:url('/images/crumb-circle-rollover-u419-r-fr.png');*/
    background-repeat:no-repeat;
    background-size:contain;
    background-position:0px 0px;
    width: 10%;
    height: 0;
    padding-bottom:10%;
    border: 3px solid red;
    float: right;
    border-radius: 100%;
    margin-right: 20px;
}

/*.fan-crumb img{
    width: 100%;
    border-top-left-radius: 15px;
    opacity: 1;
    transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
}*/
        
/*.fan-crumb img:hover{
    opacity:0;
}*/


/*end of artist dashboard*/

/*Discover page*/

.discover-left {
    box-sizing: border-box;
    height: 500px;
    width: 200px;
    position: absolute;
    overflow: hidden;
    border-top: 2px solid #00ffff;
    max-width: 160px;
    margin-left: 5%;
}

.discover-scroll{
    width: 100%;
}

.genre-item{
    padding: 5px;
    cursor: pointer;
}

.genre-item > a{
    color: #00ffff;
    text-decoration: none;
}

.discover-right, .favourite-right {
    box-sizing: border-box;
    float: right;
    height: 500px;
    width: 70%;
    min-width: 610px;
    display: table;
}

.discover-right .fans-scroll{
    margin-top:0;
    padding-top:5%;
}

.discover-right .scroll-inner .fan-mini-picture{
    width:15%;
    padding-bottom:15%;
}

.discover-right .scroll-inner .fan-crumb{
    margin-top:10px;
}

.artist-mini-picture, .beatbox-artist-mini-picture{
    border-radius: 100%;
    height: 0;
    box-sizing: border-box;
    width: 12%;
    padding-bottom: 12%;
    overflow: hidden;
    float: left;
    position: relative;
}

.artist-mini-picture > img{
    width:170%;
/*    position: absolute;*/
    margin-left:-30%;
}

.discover-block{
    display: table;
    width:100%;
}

.discover-track-name{
    float:left;
    margin-top: 15px;
    box-sizing: border-box;
    height: 50px;
    width:17%;
    font-size: 1.1em;
    line-height: 45px;
    color:#00ffff;
}

.discover-artist-name,.beatbox-artist-name{
    float: left;
    height: 50px;
    width: 24%;
    margin-top: 15px;
    box-sizing: border-box;
    margin-left: 10px;
}

.discover-listens,.beatbox-listens,.beatbox-shares{
    float: left;
    height: 50px;
    width: 26%;
    box-sizing: border-box;
    margin-top: 15px;
    color:#00ffff;
    line-height: 45px;
}

.discover-listens img{
    float: right;
}

.discover-single-crumb,.beatbox-single-crumb{
    float: left;
    height: 50px;
    width: 6%;
    box-sizing: border-box;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 15px;
    
    
}

.discover-crumb,.beatbox-crumb{
    width: 70%;
    padding-bottom: 70%;
    float:none;
    margin-top: 10px
    
        
}

.discover-three-crumb,.beatbox-three-crumb{
    float: left; 
    height: 50px;
    width: 11%;
    box-sizing: border-box;
    position: relative;
    max-width: 50px;
    margin-top: 15px;
}

.three-crumb-one, .three-crumb-two,.three-crumb-three{
    position: absolute;
    width: 25%;
    height: 0;
    padding-bottom: 25%;
    border: 3px solid red;
    border-radius: 100%;
}

.three-crumb-one{
    left: 0;
    top: 30%;
}

.three-crumb-two{
    right: 0;
    top: 0;
}

.three-crumb-three{
    right: 0;
    bottom: 0;
}


/*end of discover page*/

/*favourite page*/

.favourite-left{
    width: 30%;
    box-sizing: border-box;
    float: left;
    padding-left: 2%;
    padding-right: 2%;
}
/*end of favourite page*/

/*Beatbox*/
.beatbox-track{
    width:100%;
    display: table;
    min-width: 900px;
}

.beatbox-track-name{
    float: left;
    margin-top: 15px;
    box-sizing: border-box;
    height: 50px;
    width: 20%;
    font-size: 1.1em;
    line-height: 45px;
    text-indent: 20px;
    color: #00ffff;
}

.beatbox-artist-mini-picture{
    width:8%;
    padding-bottom: 8%;
}

.beatbox-artist-mini-picture > img{
    width:170%;
    position: absolute;
    left:-30%;
}


.beatbox-listens{
    width: 15%;
}

.beatbox-listens img{
    float:right;
}

.beatbox-three-crumb{
    margin-top: 18px;
}

.beatbox-single-crumb{
    margin-top: 10px;
}

.beatbox-message{
    float:left;
    padding:5px;
    border: 1px solid #00ffff;
    color: #00ffff;
    margin-top: 20px;
    display: none;
    border-radius: 5px;
    margin-left: 20px;
}

/*end of beatbox*/

/*mp3 player style*/

.uploaded-tracks{
    margin-top: 10%;
    width:100%;
    float:left;
    box-sizing: border-box;
    padding: 8%;
}
.uploaded-track{
    width: 100%;
    height: 100px;
    float: left;
    clear: left;
    box-sizing: border-box;
}

.uploaded-track a{
    color: #00ffff;
    text-decoration: none;
    text-transform: capitalize;
}
/*end of mp3 style*/


/*Contacts Styling*/

.settings-contacts{
    width: 95%;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 25px;
}

form.add-contact{
    background: #ffffff;
    color: #000000;
    display: table;
    width: 100%;
    box-sizing: border-box;
}



button.js-edit-contact{
    background: #1A8AF2;
    color: #fff;
    border: none;
    font-size: .8em;
    padding:2%;
    line-height: 8px;
    float: right;
    width: 65px;
    margin-top: 15px;
}

button.js-delete-contact{
    background: #1A8AF2;
    color: #fff;
    border: none;
    font-size: .8em;
    padding:2%;
    line-height: 8px;
    float: right;
    margin-left: 5%;
    width: 65px;
    margin-top: 15px;
}

.settings-contacts .fan-info{
    border-bottom: 2px solid #00ffff;
    display: table;
    margin: 0 auto;
    margin-bottom: 1%;
    float:none;
    max-width: 700px;
    
}

.settings-contacts .fan-mini-picture{
    width: 10%;
    padding-bottom:10%;
    margin-right: 2%;
    margin-bottom: 1%;
}

button.js-add-contact{
    width: 150px;
    background: #1A8AF2;
    color: #fff;
    border: none;
    font-size: .8em;
    padding:2%;
    line-height: 8px;
    margin: 0 auto;
    margin-top: 2%;
    display: block;
}

.settings-contacts a{
  color: #ffffff;
  display: block;
  text-align: center;
  margin-top: 2%;
}

.settings-profile{
    margin: 0 auto;
    max-width: 700px;
    display: table;
    width: 100%;
    box-sizing: border-box;
    background: #ffffff;
    color: #000000;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 5%;
}

.settings-profile label{
    color: #000;
    float:left;
    clear:left;
    margin-left: 5%;
    margin-bottom: 1%;
}

.settings-profile input{
    float:right;
    margin-right: 5%;
    width: 55%;
}

.settings-profile select{
    border: 1px solid #cccccc;
    border-radius: 0;
    box-shadow: none;
    color: #757575;
    float: right;
    margin-right: 5%;
    width: 56%;
    height: 20px;
}

button.js-saveProfile, .js-saveContact{
    width: 30%;
    background: #1A8AF2;
    color: #fff;
    border: none;
    font-size: .8em;
    padding:2%;
    line-height: 8px;
    display: block;
    clear: both;
    margin:0 auto;
    margin-top: 2%;
    
}


.settings-profile h2{
    font-size: 1.6em;
    margin:0 0 2% 5%;
}
/*End of Contacts Styling*/


/*Media Queries*/


/*@media screen and (max-width:700px){
    .header-search{
        width: 80%;
        clear: left;
        float: none;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    
    .header-settings{
        position: absolute;
        top: 0;
        right: 0;
    }
    
    .main-container{
        padding-top: 125px;
    }
    
    .artist-profile-left{
        width: 100%;
    }
    
    .artist-profile-right{
        width: 100%;
        display: none;
        
    }
    
    .scroll-container{
        width: 100%;
        display: none;
    }
    
    button.js-delete-contact{
        clear: left;
        width:49%;
        margin-bottom: 10px;
        margin-left: 2%;
    }
    
    button.js-edit-contact{
        clear: left;
        width:49%;
        margin-bottom: 10px;
    }
}*/

/*@media screen and (max-width: 630px) {
    .artist-signup-form label{
        margin-left: 5%;
    }
    
    .artist-signup-form input{
        margin-right:5%;
    }
    
    .fan-signup-form label{
        width:95%;
        margin-left:5%;
    }
    
    .fan-signup-form input, .fan-signup-form select{
        box-sizing: border-box;
        float: none;
        margin-bottom: 0;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 0;
        width: 90%;
    }
    
    
    
    .fan-terms{
        padding-left:15%;
    }
    .fan-terms > input {
        float: left;
        width: 10%;
        margin: 0;
    }
    
}

@media screen and (max-width: 600px){
    .forgotten-password-form > #submit-btn{
        width: 50% ;
    }
}

@media screen and (max-width: 450px) {
    .landing-logo{
        margin: 0 auto;
    }
    
    .artist-signup-form label{
         margin-left: 5%;
         width: 95%;
    }
    
    .artist-signup-form input{
         box-sizing: border-box;
        float: none;
        margin-bottom: 0;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 0;
        width: 90%;
    } 
    
    .terms > input{
        left: 25%;
        margin-top: 0;
        position: absolute;
        top: 16%;
        width: 10%;
    }
    
    .terms p{
        margin-top: 0px;
    }
    
    #submit-btn, #login-btn{
        width: 50%;
        line-height: 15px;
    }
    
    .fan-terms{
        margin-top: 2%;
    }
        
    .fan-terms p{
        font-size: 0.6em;
    }
    
    
    .settings-contacts .fan-mini-picture{
        width:20%;
        padding-bottom:20%;
        margin: 0 auto;
        float: none;
    }
    
    .settings-contacts .fan-name{
        width:100%;
        text-align: center;
    }
    
    .settings-contacts .fan-info{
        margin-bottom: 5%;
    }

    .settings-profile label{
        margin-left: 5%;
        width: 95%;
    }

    .settings-profile input{
        box-sizing: border-box;
        float: none;
        margin-bottom: 0;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 0;
        width: 90%;
    }


    button.js-saveProfile, .js-saveContact{
        width: 50%;
        line-height: 15px;
    }
}*/

.alerts{
	top:90px;
	position:absolute;
	background-color:red;
	color:white;
}
.messages{
	background-color:green;
	color:white;
}
.uploadSave,.upload-form,.release-form{
	display:none;
}

.release-form{
    width:300px;
    box-sizing:border-box;
}

.release-form label{
    color: #00ffff;
}

.release-form input{
    box-sizing: border-box;
    width:80%;
    height: 50px;
    background: #000000;
    border:2px solid #00ffff;
    color: #00ffff;
    font-size: 16px;
    float:left;
}

.js-doShare{
    width:20%;
    box-sizing:border-box;
    background: #1A8AF2;
    color: #ffffff;
    font-size: 16px;
    border:none;
    height: 50px;
    float:left;
}






/*Animations*/

.active-crumb {
	-webkit-animation: active-crumb .5s linear infinite;
	-moz-animation: active-crumb .5s linear infinite;
	-ms-animation: active-crumb .5s linear infinite;
	animation: active-crumb .5s linear infinite;
        background-color:#00ffff;
        
}

@keyframes "active-crumb" {
 0% {
    -webkit-transform: scale(1);
   	-moz-transform: scale(1);
   	-o-transform: scale(1);
   	-ms-transform: scale(1);
   	transform: scale(1);
        background:rgba(0, 255, 255,0)
        
 }
 50% {
    -webkit-transform: scale(0.9);
   	-moz-transform: scale(0.9);
   	-o-transform: scale(0.9);
   	-ms-transform: scale(0.9);
   	transform: scale(0.9);
        background:rgba(0, 255, 255,.5)
 }
 100% {
    -webkit-transform: scale(1);
   	-moz-transform: scale(1);
   	-o-transform: scale(1);
   	-ms-transform: scale(1);
   	transform: scale(1);
        background:rgba(0, 255, 255,1)
        
 }

}

@-moz-keyframes active-crumb {
 0% {
   -moz-transform: scale(1);
   transform: scale(1);
   background:rgba(0, 255, 255,0)
   
 }
 50% {
   -moz-transform: scale(0.9);
   transform: scale(0.9);
   background:rgba(0, 255, 255,.5)
   
 }
 100% {
   -moz-transform: scale(1);
   transform: scale(1);
   background:rgba(0, 255, 255,1)
   
   
 }

}

@-webkit-keyframes "active-crumb" {
 0% {
   -webkit-transform: scale(1);
   transform: scale(1);
   background:rgba(0, 255, 255,0)
 }
 50% {
   -webkit-transform: scale(0.9);
   transform: scale(0.9);
   background:rgba(0, 255, 255,.5)
 }
 100% {
   -webkit-transform: scale(1);
   transform: scale(1);
   background:rgba(0, 255, 255,1)
 }

}

@-ms-keyframes "active-crumb" {
 0% {
   -ms-transform: scale(1);
   transform: scale(1);
   background:rgba(0, 255, 255,0)
   
 }
 50% {
   -ms-transform: scale(0.9);
   transform: scale(0.9);
   background:rgba(0, 255, 255,.5)
 }
 100% {
   -ms-transform: scale(1);
   transform: scale(1);
   background:rgba(0, 255, 255,1)
 }

}

